@book-background: whitesmoke;

@book-icon-width: 50px;
@book-icon-offset: 22px;

@navigation-button-width: 80px;

@transition: .2s ease;


.book{
  display: block;
  position: relative;
  width: 600px;
  height: auto;
  background-color: @book-background;
  margin: auto;
  padding-left: @navigation-button-width;
  padding-right: @navigation-button-width;

}

.book__content {
  color: black;
  padding: 20px;
  text-align: justify;
  margin: auto;
}

.book__img {
  width: 50%;
}

.book__img--right {
  float: right;
  margin: 5px 0 5px 5px;
}

.book__img--left {
  float: left;
  margin: 5px 5px 5px 0;
}

.book__navigation {
  display: block;
  position: absolute;
  width: @navigation-button-width;
  height: 100%;
  top:0;
  cursor: pointer;
  opacity: .4;

  background-repeat: no-repeat;
  background-size: @book-icon-width auto;

  transition: opacity @transition;

  &:hover {
   opacity: .8;
  }

}

.book__navigation--back {
  left: 0;
  background-position: @book-icon-offset center;
  background-image: url('./../img/icons/back.svg');
}

.book__navigation--forth {
  right: 0;
  background-position: (@navigation-button-width - @book-icon-width - @book-icon-offset) center;
  background-image: url('./../img/icons/forth.svg');
}

.book__page-number {
  text-align: center;
  font-weight: bold;
}